.mainapp .App {
  min-height: 100vh;
  color:  #61dafb;
}

.App-logo {
  height: 25vmin;

}

.App-header  {
  min-height: 35vh;
  display: inline-block;
  font-size: calc(10px + 2vmin);
}

.App-link, p {
  font-size: 25px;
}

a {
  text-decoration: none;
  color:  #61dafb;
}

h3 , .home {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  border: none;
}

ul {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
  border: none;
  list-style-type: none;
}

.link, button, option, select, .loggedin, .login {
  background-color: #282c34;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  height: 100%;
  color:  #61dafb;
}

.callpop {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  border: none;
  height: 100%;
}

.pop {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
}

.callInfo {

  text-align: left;
}

.links {
  display: inline-block;
  margin: 4px 2px;
  text-align: center;
}

.divider{
  width:30px;
  height:auto;
  display:inline-block;
}

.clicktocall  {
  justify-content:center;
  align-items:center;
  border: none;
  display: block;
  min-height:10vh
}

.jive, .contact, .test, .settings , .allContacts, .websocket  {
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border: none;
    height: 100%;
}

.callbox {
  padding: 10px;
 
  float:right;
  height: 100px;
}

.callbtn {
  cursor: pointer;
  border: none;
  margin: none;
  display: flex;
  justify-content:center;
  align-items:center;
}

.main  {
  background-color: #282c34;
  height: 100%;
  text-align: center;
}

.closePop  {
  background-image: url(./close.png);
  float: left;
  display: block;
  background-size: cover;
  background-position: center;
  border: none;
  margin: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  height: 32px;
  width: 32px;

}

.call  {
  background-image: url(./yescall.png);
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: none;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
}

.nocall {
  background-image: url(./nocall.png);
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: none;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
}

.ReactModalPortal {
  height: 40%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50vh;
  background-color : #f5f5f5;
  color: black !important;
}
.slide-pane {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 100px;
  height: 100%;
  box-shadow: 0 8px 8px rgba(0,0,0,0.5);
  transition: transform 0.5s;
  will-change: transform;
}

.slide-pane__overlay {
  height: 40%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50vh;

}

.slide-pane_from_bottom {
  height: 100%;
  transform: translateY(100%);
}

.slide-pane_from_bottom.ReactModal__Content--after-open {
  transform: translateY(0%);
}
.slide-pane_from_bottom.ReactModal__Content--before-close {
  transform: translateY(100%);
}

.slide-pane__close {
  width: 12px;
  padding: 0;
  cursor: pointer;
}

.slide-pane__header {
  background-color: rgb(153, 150, 150);
}

.left {
  float:left;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100%;
}

.right {
  float:right;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100%;
}

